 @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  width: 100% !important;
  font-family: 'Figtree', sans-serif !important;
  background-color: #ffffff;
  
}



/*///////////////////////////////////////////////  FIRST NAV//////////////////////////////////////////////////////////////////////// */
.firstnav, .contact-info {
  display: flex;
  flex-direction: row ;
  align-items: center;
  background-color: #5bc1ac;
  width: 100%;
  height: 49px;
  margin-top: 5px;
}

.firstnav p {
  margin: 0;
  padding-right: 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.contact-info .number1 {
  margin-left: 120px; 
}

.contact-info i {
  margin-right: 5px;
}
.icon{
  position: absolute;
  right: 50px;
  color: #ffffff;
}
.icon a{
  text-decoration: none;
  color: #ffffff;
}
/*  FIRST NAV */
/* //////////////////////////////MEDIA QUERIES FOR TOP NAV //////////////////////////////////////////////////////////////////////////*/

/* MOBILE PHONES */
@media (max-width: 767px) {
  .contact-info {
    flex-direction: column;
   
  }

  .contact-info .number1 {
    margin-left: 10px; 
    margin-top: 5px;
  }

  .firstnav, .contact-info {
    width: 100%;
    height: auto; 
   
  }

  .icon {
    position: absolute;
    top: 20px;
  }
}
/* MOBILE PHONES */

/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px)  {
    .contact-info {
      flex-direction: row; 
    }
    
    .firstnav p{
      margin-left: 40px !important;
      padding-right: 0px;
    }
    .firstnav, .contact-info p{
font-size: 17px;
    }
    
}
/* TABLETS */

/* ////////////////////////////////////////////////FIRST NAV///////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////NAVBAR//////////////////////////////////////////////////////////////////////////// */
.navbar{
  height: 90px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  z-index: 9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar .sticky-top {
  z-index: 100; 
}
body.navbar {
  padding-top: 56px; /* Adjust this value based on the height of your navbar */
}
.navbar .nav-link{
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

 

.navbar .nav-link:hover {
  color: #5bc1ac; 
}
.ppp{
  padding-left: 10px;
}
.txt-1{
  color: #5bc1ac;
  font-size: 22px;
  margin-bottom: 5px !important;
  font-weight: 600;
}
.navbar-brand small{
  font-size: 15px;
  margin-top: 0 !important;
}
.navbar-nav .nav-link {
  padding: 10px 30px; 
  margin-right: 30px;
}

.btn {
 width: 100px;
 border: 2px solid #333 !important;
 color: #ffffff;
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
  .active {
  color: #5bc1ac !important; /* Change the color to your desired active state color */
  font-weight: 900 !important; /* Change the font weight or any other styles */
  font-size: 17x !important;
}

.nav-7 a{
  text-decoration: none;
  color: #000000;
}
.nav-7 a:hover{
  color: white;
}
.nav-7:hover{
  background-color: #5bc1ac !important;
  color: white !important;
}


/* NAVBAR */

/* ////////////////////////////////////MEDIA QUERIES FOR NAVBAR///////////////////////////////////////////////////////////////////// */
/* MOBILE PHONES  */
@media (max-width: 767px){
.txt-1{
  font-size: 17px;
  position:absolute;
  top: 30px;
}
.navbar{
  border-radius: 10px;
}
.navbar-nav{
  background-color: #ffffff !important;
  z-index: 9 !important;
  color: white;
  text-align: left !important;
}
.navbar-brand small{
  font-size: 12px;
  position: absolute;
  top: 55px;
}
.nav-7{
  margin-top: 10px;
   width: 100%;
   margin-bottom: 10px;
}
.ppp{
  padding-left: 0;
}
}
/* MOBILE PHONES  */

/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px)  {
  .navbar{
    width: 100%;
    height: auto;
  }
  .navbar img{
  width: 100px;
  height: 90px;
  }
  .navbar-nav{
    background-color: #ffffff ;
    z-index: 9 ;
    color: white;
    text-align:center ;
    font-size: 25px;
  } 
  .nav-7{
    margin-top: 10px;
    width: 60%;
    margin-bottom: 10px;
   position: relative;
   left: 130px;
  }
  .nav-item .dropdown-item{
    text-align: center;
    font-size: 20px;
  }
  .navbar-brand{
    margin-left: 20px;
  }
  .ppp{
    padding-left: 10px;
  }
  .txt-1{
    font-size: 25px;
    font-weight: 600;
  }
  .navbar-brand small{
    font-size: 15px;
  }
  
}
/* TABLETS */

/* ///////////////////////////////////End of media queriews for navbar///////////////////////////////////////////////////////////// */

.carousel-item {
  height: 87vh;
  position: relative;
}
.triangle{
	width: 0;
	height: 0;
  border-width: 0 0 510px 700px;
	border-color: transparent transparent #ffffff transparent;
	border-style: solid;
  position: absolute;
 bottom: 0;
  right: 0;
  
}
.text-container {
  position: absolute;
  top: 360px;
  right: 30px;
width: 500px;
  text-align: center;
  
  z-index: 1;
}

.text-container h1{
  font-weight: 700;
  font-size: 55px;
  color: #5a6f80
}

/* MOBILE PHONES  */
@media (max-width: 767px) {
  .carousel-item {
    height: 70vh;
    position: relative;
  }
  .carousel-item img{
    height: 70vh;
    object-fit: cover;
  }
  .triangle{
    width: 0;
    height: 0;
    border-width: 0 0 370px 370px;
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    position: absolute;
   bottom: 0;
    right: 0;
  }
  .text-container {
    position: absolute;
    top: 220px;
    right: 20px;
    width: 200px;
    text-align: center;
    z-index: 1;
  }
  .text-container h1{
    font-weight: 700;
    font-size: 30px;
    color: #5a6f80
  }
  .carousel-control-prev-icon{
    background-color: none !important;
    font-size: 30px !important;
     padding: 10px !important;
  }
  .carousel-control-next-icon{
    background-color: none !important;
      font-size: 30px !important;
       padding: 10px !important;
       width: 35px !important;
       height: 35px !important;
  }
 
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-item {
    height: 70vh;
    position: relative;
  }
  .carousel-item img{
    height: 70vh;
    object-fit: cover;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home-section{
 height: auto;
 background-color: #ffffff;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}
.content p{
  font-size: 45px;
  font-weight: 700;
  color: #5a6f80;
 
}
.txt-2{
  margin-top: 100px !important;
 
}
.txt-2 p{
  font-size: 40px ;
}
 .home-section .card{
 padding: 13px;
  border: none !important;
  box-shadow: none !important;
}
.home-section .card-img{
  margin-top: 30px;
}
.home-section .card:hover {
  box-shadow: 0 4px 10px 0 rgba(101, 114, 122, 0.2), 0 6px 20px 0 rgba(69, 98, 104, 0.19) !important;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 20px;
}
.home-section.card:hover .card-img {
  transform: scale(0.8); /* You can adjust the scale factor as needed */
  transition: transform 0.3s ease-in-out;
}
.card-title{
  color: #5bc1ac !important;
}
.span{
  color: #5bc1ac;
  font-size: 25px;
  font-weight: 700;
}
.col h3{
  font-size: 20x;
  font-weight: 350;
}
.rr a{
  text-decoration: none;
}

@media (max-width: 767px) {
  .home-section img{
    width: 100px;
    height: 100px;
  }
  .txt-2{
   margin-top: 50px;
  }
  .rr{
    margin-top: 20px;
  }
}




/* ////////////////////////////////////////////////////////End/////////////////////////////////////////////////////////////////////////// */

#about{
  background-color: #f0f8ff;
  height: 700px;
overflow: hidden;
}
#about .row{
  position: relative;
  top: 10px;
}
#about img{
  width: 650px;
  height: 550px;
  object-fit: cover;
  border-radius: 40px;
}
.fg-1{
  color: #5a6f80;
  font-size: 45px;
}
#about .card{
  border-radius: 20px;
}
.cd-2{
  height: 250px;
}

.counter {
  font-size: 54px;
  font-weight: bold;
  color: #5bc1ac;
  margin-right: 20px;
}
.don{
  position: absolute;
  left: 30px;
  bottom: 3px;
}
  
.count1{
  font-size: 18px;
  font-weight: 300;
  color: #504949;
}

.don{
  font-size: 18px;
  font-weight: 300;
  color: #504949;
}

.ab {
  flex-direction: row;
}
#about .card{
  border: none !important;
  box-shadow: none !important;
}
@media (max-width: 767px){
  .row {
    flex-direction: row;
}
#about{
  height: 1320px;
}

#about img {
height: 300px;
object-fit: cover;
}
.card .t-1{
  font-size: 30px;
  color: #5a6f80;
  
}
.card .cd-1{
  padding: 20px;
  text-align: left;
}
.t-2{
  font-size: 25px;
  text-align: left;
}
.cd-2{
  text-align: left;
  padding: 50px;
}
.loading{
  flex-direction: row;
}
.count1{
  position: absolute;
  top: 90px;
}
}

@media (min-width: 768px) and (max-width: 1024px){
 #about{
  height: 1500px;
 }
  
  .ab .col-md-6 {
    width: 100%;
  }
 .count1{
  position: relative;
  top: 60px;
  left: -150px;
 }
}

.about-section{
  text-align: center;
}

.about{
  display: inline-block;
}

.about img{
border-radius: 30px !important;
box-shadow: 0 8px 20px 0 rgba(101, 114, 122, 0.37), 0 8px 30px 0 rgba(69, 98, 104, 0.377);
width: 370px;
height: 400px;
object-fit: cover;
margin-top: 10px;
}

.about .card{
  border: none !important;
  box-shadow: none !important;
  position: relative;
  left: 90px;
 
}
.about .cd-3{
  text-align: left;
 margin-top: 60px;
}
.w1{
  font-size: 50px !important;
  color: #41505c !important;
  font-family: "Roboto" ;
  font-weight: 500;
}
.card-body small{
  font-size: 16px;
}

.card-text .w3{
margin-top: 5px;
}
.icon-2{
  margin-top: 4px;
color: #ffffff;
font-size: 14px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}
.icon-div{
  display: inline-block;
  width: 33px ;
  height: 33px;
  border: 1px solid black;
  margin: 0 4px;
  padding: 5px;
  color: white !important;
  background-color: #41505c;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .about .card{
    left: 0;
  }
  .w1{
    margin-top: 0!important;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .about .card{
    left: 0;
  }
  .about .card-text{
    font-size: 20px;
  }
  .cd-3{
    margin-top: 0 !important;
    margin-left: 30px;
  }
}

.sec-about{
  height: 300px;
  background-color: #f0f8ff;
  overflow: hidden;
  position: relative;
}

.sec-about .circle{
  background-color: #5bc1ac;
  width: 200px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  left: -35px;
}
.sec-txt{
color: #5a6f80;
position: absolute;
left: 320px;
top: 90px;
overflow: hidden;
}
.sec-txt h1{
font-size: 45px;
   font-weight: 600;
   font-family: 'Merriweather Sans', sans-serif;
   font-style: italic;
}

.sec-txt-2{
  position: absolute;
  top: 120px;
  right: 250px;
}

.sec-txt-2 .a{
  margin-right: 30px; 
  text-decoration:  2px unset;
  color: #41505c;
  font-size: 18px;
  font-family: 'Archivo', sans-serif;;
}

.sec-txt-2 .a:hover{
  color: #5bc1ac;
}

.sec-txt-2 .btn{
  width: 250px;
  height: 55px;
  border-radius: 30px;
  color: #ffffff;
  border: none !important;
  background-color: #5a6f80;
}
.sec-txt-2 .btn a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.d-circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
border: 20px solid #41505c;
position: absolute;
bottom: -100px;
right: 700px;
}

@media (max-width: 767px){
  .sec-about{
    height: 400px;
   }

   .sec-about .circle{
    position: absolute;
    top: -130px;
    left: -65px;
  }

  .sec-txt{
    position: absolute;
left: 50px;
top: 120px;
  }
  .sec-txt h1{
    font-size: 30px ;
  }
  
  .sec-txt-2{
    position: absolute;
  top: 220px;
  left: 50px;
  width: 100%;
  }
  .sec-txt-2 .btn{
    height: 50px;
  }
  
  .sec-txt-2 .a{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
  }

  .d-circle{
    position: absolute;
bottom: -110px;
right: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
 .sec-about{
  height: 400px;
 }
 
  .sec-about .circle{
    position: absolute;
    top: -110px;
    left: -25px;
  }
  .sec-txt{
    position: absolute;
left: 50px;
top: 120px;
  }
  .sec-txt h1{
    font-size: 35px ;
  }

  .sec-txt-2{
    position: absolute;
  top: 220px;
  left: 50px;
  }
  .sec-txt-2 .a{
    font-size: 22px;
  }

  .d-circle{
    position: absolute;
bottom: -100px;
right: 140px;
  }
}

.cause-title{
  text-align: center;
  color: #5a6f80;
padding-top: 50px;
}
.cause-title h1{
  font-size: 46px;
}

.cause-section .card-title{
color: #5bc1ac;
font-weight: 700 !important;
font-size: 20px;
}

.custom-progress{
  background-color: #5a6f80 !important;
 
}
.cause-section{
  margin-bottom: 100px;
}
.progress{
height: 10px !important;
position: relative;
}

.progress-txt {
 display: inline;
 width: 100%;
 

}
.cause-section .card{
  border-radius: 20px !important;
 
 overflow: hidden;
  box-shadow: 0 4px 10px 0 rgba(101, 114, 122, 0.2), 0 6px 20px 0 rgba(69, 98, 104, 0.19);
}

.prg-2{
margin-top: -30px;
}

.progress-txt .h6{
  font-weight: 400;
}
.prog-1,.prog-2{
  color: #5a6f80;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

.btn-3{
  width: 100%;
  border: none;
  background-color: #5a6f80;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
}
.card-footer{
  background-color: #5a6f80 !important;
 
}
.card-footer:hover{
  background-color: #5bc1ac !important;
  color: #ffffff;
}

.btn-3:hover{
  background-color: #5bc1ac !important;
  color: #ffffff;
}

#volunteer {
  width: 100%;
  height: auto;
  background-color: #5a6f80;
  overflow: hidden;
}

.custom-div-1 {
  padding-top: 100px;
}

.vol-txt {
  color: white !important;
}

.form {
  border-radius: 20px;
  margin-bottom: 30px;
}

.form button {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  background-color: #5a6f80 !important;
  border: none !important;
  color: #ffffff !important;
}

.form button:hover {
  background-color: #5bc1ac !important;
  color: white !important;
}

.crd-1 {
  border: none !important;
  background-color: #5a6f8000 !important;
  margin-bottom: 60px;
}

.crd-1 img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: relative;
  left: 150px;
}

.custom-div-2 {
  padding-top: 110px;
}

.crd-1 .card-title {
  color: #ffffff !important;
  text-align: center;
}

.crd-1 .card-text {
  margin-top: 20px;
  width: 550px;
  text-align: center;
  color: #ffffff !important;
}

input {
  background-color: rgba(45, 156, 156, 0.116) !important;
}

.scn-circle {
  background-color: #5bc1ac !important;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  left: 1300px !important;
  bottom: 100px !important;
}

@media (max-width: 767px) {
  #volunteer {
    height: auto !important;
  }

  .crd-1 img {
    border-radius: 15% !important;
    margin-top: 10px !important;
    left: 50px !important;
  }

  .crd-1 {
    position: relative !important;
    left: 1px !important;
    margin-top: 1px !important;
  }

  .custom-div-1 {
    padding-top: 30px !important;
  }

  .vol-txt h1 {
    font-size: 30px !important;
  }

  .crd-1 {
    border-radius: 50% !important;
    width: 500px !important;
    height: 300px !important;
    object-fit: cover !important;
    position: relative !important;
    left: -60px !important;
  }

  .custom-div-2 {
    padding-top: 1px !important;
  }

  .crd-1 .card-title {
    margin-left: -70px !important;
  }

  .crd-1 .card-text {
    margin-top: 20px !important;
    width: 80% !important;
    text-align: center !important;
    color: white !important;
  }
}

/* Tablet Media Query */
@media (min-width: 768px) and (max-width: 1024px) {
  .crd-1 img {
    border-radius: 50% !important;
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
    margin-top: 10px !important;
    left: 20px !important;
  }

  .vol-txt {
    padding-top: 10px !important;
  }

  .crd-1 {
    border-radius: 50% !important;
    width: 500px !important;
    height: 300px !important;
    object-fit: cover !important;
    position: relative !important;
    left: -60px !important;
  }

  .crd-1 .card-title {
    margin-left: -70px !important;
  }

  .crd-1 .card-text {
    margin-top: 20px !important;
    width: 80% !important;
    text-align: center !important;
    color: white !important;
  }
}
#news{
  background-color: #ffffff !important;
}

.news-card{
  border-radius: 20px !important;
  border: none !important;
}
.news-card img{
  width: 100%;
height: 400px;
object-fit: cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.news-card .card-body{
  background-color: #5a6f80;
  border-bottom-left-radius: 20px;  
  border-bottom-right-radius: 20px; 
  color: #ffffff;
}
.news-card a{
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
.a-1{
  padding-right: 5px;
}
.news-list{
  margin-top: 10px;
}
.news-list a{
  text-decoration: none;
  color: #5a6f80;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.news-list i{
  margin-right: 7px;
}
.newss-2 h2{
 font-weight: 600;
 font-size: 30px;
}
.newss-2 p{
  color: #5a6f80;
}

.news-3{
  color: #5bc1ac;
  font-weight: 600;

}
.gg{
  height: 100px !important;
  border: none !important;
  background-color: #ffffff48 !important;
}
.news-card-2{
  border: none !important;
  background-color: #aaaaaa18 !important;
}
.news-card-2 img{
  height: 100px;
  width: 100%;
  border-radius: 12px;
  margin-left: 2px;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  object-fit: cover;
}
.news-card-2 .card-body{
  margin-top: -15px;
}
.news-card-2 h4{
  color: #333 !important;
  font-size: 22px;
  font-weight: 600;
}
.news-card-2 .card-text{
  font-size: 18px;
  font-weight: lighter;
  color: #504949;
}
.news-card-2 .card-text i {
  margin-right: 8px;
}
.news-card-2 a{
  color: #22282c;
text-decoration: none;
}
.news-card-2 a:hover{
  color: #5bc1ac;
  font-weight: 600;
}

.tag-1 {
  margin-top: 50px;
}

.tags h4{
  color: #5bc1ac ;
  font-weight: 600;
}
.tt .row  a{
   margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.384) !important;
  font-weight: 300;
  color: #41505c;
  
}



.tags a:hover{
  background-color: #5bc1ac !important;
  color: white;
}

.newsletter{
  width: 450px !important;
  height: 250px;
  background-color: #5dbba83d;
  margin-top: 120px;
  margin-left: 30px;
  border-radius: 20px;
  
}
.newsletter h3{
  color: #5bc1ac;
  font-weight: 600;
  text-align: left;
}
.newsletter .form-control{
  background-color: #ffffff !important;
  height: 50px;
  border-radius: 10px;

}

.newsletter .btn{
  width: 100%;
  border-radius: 30px;
  background-color: #5a6f80 !important;
  color: white;
  border: none !important;
}
.newsletter .btn:hover{
  background-color: #5bc1ac !important;
  color: #ffffff;
}

@media (max-width: 767px){
  .custom-divv-3{
    padding-top:50px;
  }
  .news-card-2{
margin-top: 90px;
box-shadow: 0 4px 10px 0 rgba(101, 114, 122, 0.2), 0 6px 20px 0 rgba(69, 98, 104, 0.19);
  }
  .gg{
    margin-top: 30px;
  }
  .news-card-2 .card-body{
    margin-top: x;
  }
  .news-card-2 img{
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .news-list a{
    padding-right: 20px;
  }
  
    .tags  {
    padding-top: 100px;
  }
  .newsletter{
    width: 320px !important;
    margin-left: 10px !important;
  }
  
  .tt  {
width: 100%;
  }

  .newsletter{
    margin-top:  50px;
  }
}

.client {
  width: 100%;
  height: auto;
background-color: #f0f8ff;
}

.client h1{
  color: #5a6f80;
  font-size: 50px;
  font-weight: 600;
}

.carousel-icon i {
font-size: 5rem;
color: rgb(12, 12, 12);
}
.car-1{
  border-radius: 50%;
}
.carousel-item{
  height: 500px;
}

.carousel-item i {
font-size: 1.6rem;
color: rgb(24, 23, 23);
}

.t-card {
padding: 1.8125rem 1.125rem;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 1.25rem;
color: #333333;
height: auto;
}

.arrow-down {
width: 0;
height: 0;
border-left: 1.5625rem solid transparent;
border-right: 1.5625rem solid transparent;
border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px){
  .client{
    height: auto;
  }
  .client img{
    width: 150px;
    height: 150px;
  }
  .client .carousel-item{
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .client img{
    width: 550px ;
    height: 150px;
    border-radius: 20px !important;
  }

}


.gh{
  width: 100% !important;
  background-color: #5a6f80 !important;
  color: white !important;
  border-radius: 50px;
}

.gh:hover{
background-color: #5bc1ac !important;
color: white !important;
}

.overflow-hidden{
  background-color: #80cebe11;
}
/* ///////////////////////////////////////// */

.ft-start{
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #5a6f80;
}

.text-heading{
  color: #5bc1ac;
  font-size: 22px;
}
.text-para{
  color: #5bc1ac;
}

.list-unstyled{
  padding-left: 0;
  list-style: none;
}

.list-unstyled li a{
  text-decoration: none;
}

.list-unstyled li a:hover{
  text-decoration: underline;
}

.t-button{
  background-color: #5a6f80 !important;
  width: 50%;
  margin-top: 30px;
}

.t-button:hover{
  background-color: #5bc1ac !important;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





